<div
  [class.active]="active"
  [class.opacity]="opacity"
  (mouseenter)="mouseEnter.emit(true)"
  (mouseleave)="mouseLeave.emit(true)"
  class="experience-card regular-text"
>

  <div class="experience-date-block col-lg-2">
    {{experience.period}}
  </div>

  <div class="experience-info-block no-margins col-lg-10">

    <div class="experience-title-block">
      <p class="subtitle text-white">{{experience.role}}</p>
      <p>{{experience.grade}}</p>
    </div>

    <div class="experience-description-block">
      {{experience.description}}
    </div>

    <div class="instruments-block">
      <div class="instrument">

      </div>
    </div>

  </div>

</div>
