<div class="header-block">
  <div>
    <h1 class="title">Usenko Igor</h1>
    <h2 class="subtitle">Frontend Angular Developer</h2>
    <p class="regular-text">I build pixel-perfect, engaging, and <br> accessible digital experiences.</p>
  </div>

  <div class="navbar flex-column align-items-start">
    <div (click)="scrollTo(navItem.name)" *ngFor="let navItem of navItems" [routerLink]='"."'
         [fragment]="navItem.name"
         class="block-with-line">
      <span [class.active]="activeRoute === navItem.name" class="line"></span> <span
      class="regular-text">{{navItem.name.toUpperCase()}}</span>
    </div>
  </div>
</div>
