<div @changeBackgroundColor class="main-layout d-flex flex-column min-vh-100">

  <div class="header-container">
    <app-header></app-header>
  </div>

  <div class="container-fluid">

    <div class="background-container">
      <img src="https://7fon.club/pics/uploads/posts/2023-04/1680339287_7fon-club-p-lunnii-svet-png-65.png" alt="">
      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
    </div>

  </div>

  <div class="footer-container">
    <app-footer></app-footer>
  </div>

</div>
