<div class="main-layout d-flex flex-column min-vh-100" (mousemove)="glowingCursor($event)" (touchmove)="glowingCursor($event)">

  <div class="d-flex container">
    <div class="row">
      <div class="col-lg-6 text-white header-block">

        <app-header></app-header>

      </div>

      <div id="about" class="col-lg-6 container-fluid">

        <div class="row">
          <div class="columns-container">

            <section class="column-element regular-text">
              <p>Hello, back in 2020, I decided to test my skills in creating my own mini websites using Html / Css / JS,
                and from that moment on, I plunged headfirst into the rabbit hole of coding and web development. Fast
                forward to today: I have been honored with the opportunity to develop software for government projects,
                complex systems, and HRM applications.</p>
              <p> Currently, my focus lies in crafting products and implementing large-scale government projects that
                demand exceptional quality, as these projects represent the face of the country. What I enjoy most is
                creating software where design meets engineering — things that look good but are also well-engineered
                under the hood. In my free time, I also explore new technologies and try to implement them in my pet
                projects.</p>
              <p> When I'm not at the computer, you'll usually find me at the gym, playing basketball, walking my
                dachshund, or spending time with family.</p>
            </section>

            <section id="experience" class="experience-block">

              <app-experience-card
                *ngFor="let experience of experienceItems; index as i"
                [experience]="experience"
                [active]="i === activeExperience"
                [opacity]="Boolean((activeExperience || activeExperience === 0) && i !== activeExperience)"
                (mouseEnter)="activeExperience = i"
                (mouseLeave)="activeExperience = null"
              ></app-experience-card>

<!--              <p class="subtitle text-white">View Full Resume</p>-->

            </section>

            <section id="projects" class="projects-block regular-text">

              <app-project-card
                *ngFor="let project of projectItems; index as i"
                [project]="project"
                [active]="i === activeProject"
                [opacity]="Boolean((activeProject || activeProject === 0) && i !== activeProject)"
                (mouseEnter)="activeProject = i"
                (mouseLeave)="activeProject = null"
              ></app-project-card>

<!--              <p class="subtitle text-white">View Full List Projects</p>-->

            </section>

          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>

</div>
