<div @changeBackgroundColor class="main-layout d-flex flex-column min-vh-100">

  <div class="header-container">
    <app-header></app-header>
  </div>

  <div class="container-fluid">

    <div class="background-container">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/moon2.png" alt="">
      <div class="stars"></div>
      <div class="twinkling"></div>
      <div class="clouds"></div>
    </div>

  </div>

  <div class="footer-container">
    <app-footer></app-footer>
  </div>

</div>
