.main-layout {
  min-height: 100vh;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42/var(--tw-bg-opacity));

  .container-fluid {
    flex: 1;
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .header-container, .footer-container {
    z-index: 9;
  }


  .container .row {
    .columns-container {
      display: flex;
      flex-direction: column;

      section:not(:first-child) {
        padding-top: 9rem;
      }
    }
    .projects-block {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }

}
